
#top {
  padding: 0.5rem 1rem;
  //border: 1px solid red;
  .image {
    background: url("/images/image-web-3-mobile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin: 1rem auto;
  }
  .container {
    //border: 1px solid green;
    h1 {
      line-height: 1;
      font: {
	size: 3rem;
	weight: bold;
      }
    }
    article {
      margin: 1rem 0;
      p {
	margin-bottom: 1rem;
	color: $dark-grayish-blue;
	
      }
      button {
	border: 1px solid $soft-red;
	background-color: $soft-red;
	//width: 130px;
	color: $off-white;
	padding:9px 30px;
	text-align: center;
	font-weight: 500;
      }
    }
  }
  @include desktop {
    .image {
      background: url("/images/image-web-3-desktop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .container {
      display: grid;
      grid: auto / repeat(2,1fr);
      justify-items: center;
      grid-gap: 1rem;
      h1 {
	height: 100%;
	margin-top: 1rem;

      }
      article {
	height: 100%;
	//margin: 2.5rem 0;
	p {
	  margin-top: 1rem;
	}
	button {
	  margin-top: 2.5rem;
	}
      }
    }

  }
}

